
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gilroy-Bold', sans-serif;
}

.navbar {
  position: fixed;       
  top: 0;             
  left: 0;
  width: 100%;          
  z-index: 1000;      
  background-color: #fff; 
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.ytblogo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ytblogo img {
  width: 50px;
  height: 50px;
}

.ytblogo h2 {
  font-size: 24px;
  color: #000;
}

.search-bar {
    align-items: center;
    border: 1px solid;
    border-color: #c6c6c6;
    /* border-right: 0; */
    border-radius: 40px 0 0 40px;
    /* margin-left: 32px; */
    padding: 0 4px 0 16px;
    display: flex
;

}
.search-bar input{
    padding: 1px 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
}


#hrefs {
  display: flex;
  gap: 30px;
}

.navbar a {
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  transition: color 0.2s ease-in-out;
}

.navbar a:hover {
  color: #FF0000;
}

main {
  margin-top: 90px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.video-card {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
  cursor: pointer;
}



.video-card img {
  width: 100%;
  height: auto;
}

.video-info {
  padding: 10px;
}

.video-info h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.video-info p {
  color: #555;
  font-size: 14px;
  margin-bottom: 2px;
}

#suggestions {
  position: absolute;
  top: 55px;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  z-index: 999;
}